*.swp
*.jpg
*.png
tmp/
pretrained_models/
.vscode/
test_result/
log/
log.txt
checkpoints/
checkpoints
evaluate_results/
inference_results/
*.pyc
*.npy
test_log.txt
test_log*
dct_data/
dct_data
dct_data.zip
